<div class="bg-white">
  <div class="mx-auto max-w-2xl py-4 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

      <% @properties.each do |property| %>
        <div class="group relative">
          <div class="aspect-square w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="https://i.pinimg.com/736x/77/ea/c5/77eac5e4bd8eb38cfd768858c69957a3.jpg" alt="Front of men's Basic Tee in black." class="h-full w-full object-cover object-center">
          </div>
          <div class="mt-2">
            <div class="flex justify-between">
              <h3 class="text-lg font-medium text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= property.city %>, <%= property.state %>
                </a>
              </h3>

              <div class="flex justify-between gap-1 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;"><path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path></svg>
                <p class="font-light">4.8</p>
              </div>
            </div>

            <p class="text-sm text-gray-500">Hosted by Nolan</p>
            <p class="text-sm text-gray-500">20 - 25 Jan</p>
            <p class="text-sm font-light text-black-500">
              <span class="font-medium"><%= humanized_money_with_symbol(property.price) %></span> night
            </p>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
